<br>
<br>
<br>
<br>
<br>
<br>
<br>
<h1>Editing User</h1>

    <%= form_for @user, url: user_path, html: {multipart: true} do |f| %>
        <% if @user.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>
      
            <ul>
            <% @user.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
            </ul>
          </div>
        <% end %>
      
        <div class="field">
          <%= f.label :user_name %>
          <%= f.text_field :user_name %>
        </div>
      <br>
        <div class="field">
          <%= f.label :password %>
          <%= f.text_field :password %>
        </div>
      
      <br>
        <div class="field">
          <%= f.label :avatar %>
          <%= f.file_field :avatar %>
        </div>
       <br> 
        <div class="field">
          <%= f.label :quote %>
          <%= f.text_area :quote %>
        </div>
      <br>
        <div class="field">
          <%= f.label :comments %>
          <%= f.text_area :comments %>
        </div>
      <br>
        <div class="field">
          <%= f.label :email %>
          <%= f.text_field :email %>
        </div>
      <br>
        <div class="actions">
          <%= f.submit "Update User" %>
        </div>
      <% end %>



<%= link_to 'Show', @user %> |
<%= link_to 'Back', users_path %>
