<h1>The Rails Blog</h1>

<ul>
	<li>
		<% @posts.each do |p| %>
			<% user = @users.find(p.user_id) %>
			<%= link_to user.user_name, user %>
			<h4>Post # <%= p.id %></h4>
			
			<%= p.body %>
			<br>
			<ul>
				<li>
				<% comment = @comments.where(post_id: p.id) %>
				<% comment.each do |c| %>
					<%= c.user_id %> | <%= c.body %>
				<% end %>
				</li>
			</ul>
		<% end %>
	</li>
</ul>