<!DOCTYPE html>
<html>
  <head>
    <title>Railsblog</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <h2><%= link_to "The Rails Blog", "/", id: "logo" %></h2>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Home", "/" %></li>
          <% if current_user %>
            <% user = User.find_by(id: session[:user_id]) %>
            <li><%= link_to "Users", '/users' %></li>
            <li><%= link_to "New Post", "/posts/new" %></li>
            
              <li><%= link_to "Profile", user %></li>

              <li>
                <%= link_to "Log out", "/logout" , method: "delete" %>
              </li>
            </ul>
          </li>
          <% else %>
            <li><%= link_to "Log in", "/login" %></li>
          <% end %>
      </ul>
    </nav>
  </div>
</header>

    
    <%= yield %>
  </body>
</html>
